## [Start] Setting "adminsIDS" to default value of "[]". **
$util.qr($context.args.input.put("adminsIDS", $util.defaultIfNull($ctx.args.input.adminsIDS, "[]")))
## [End] Setting "adminsIDS" to default value of "[]". **
## [Start] Setting "editorsIDS" to default value of "[]". **
$util.qr($context.args.input.put("editorsIDS", $util.defaultIfNull($ctx.args.input.editorsIDS, "[]")))
## [End] Setting "editorsIDS" to default value of "[]". **
## [Start] Setting "membersIDS" to default value of "[]". **
$util.qr($context.args.input.put("membersIDS", $util.defaultIfNull($ctx.args.input.membersIDS, "[]")))
## [End] Setting "membersIDS" to default value of "[]". **
## [Start] Setting "bannedIDS" to default value of "[]". **
$util.qr($context.args.input.put("bannedIDS", $util.defaultIfNull($ctx.args.input.bannedIDS, "[]")))
## [End] Setting "bannedIDS" to default value of "[]". **
{}